.popup {
  background-color: $color-gray-950;
  border-radius: 0.75rem;
  box-shadow: 0 0.25rem 1rem rgba($color-white, 0.16);
  padding: 4rem;
  transition: all 0.3s ease-in-out;
  width: fit-content;

  &:hover {
    box-shadow: 0 0.25rem 1rem rgba($color-white, 0.32);
  }

  &-box {
    align-items: center;
    background-color: rgba($color-black, 0.64);
    display: none;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;

    &--visible {
      display: flex;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;

    &__container {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    &__about {
      max-width: 60rem;
      text-align: justify;
    }
  }
}
