.profile {
  border-radius: 0.75rem;
  box-shadow: 0 0.25rem 1rem rgba($color-white, 0.32);
  display: inline-block;
  height: fit-content;
  padding: 4rem;
  text-align: center;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0.25rem 1rem rgba($color-white, 0.48);
  }

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;

    &__header {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      justify-content: center;

      &__picture {
        border-radius: 50%;
        box-shadow: 0 0.25rem 1rem rgba($color-white, 0.64);
        height: 8rem;
        object-fit: cover;
        transition: all 0.3s ease-in-out;
        width: 8rem;

        &:hover {
          box-shadow: rgba($color-white, 0.24) 0 0.5rem 1.5rem,
            rgba($color-white, 0.12) 0 1rem 3.5rem,
            rgba($color-white, 0.1) 0 1.5rem 5rem;
        }
      }

      &__title-box {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        & > h2 {
          margin: 0 auto;
        }
      }
    }

    &__bio {
      color: $color-gray-300;
      max-width: 24rem;
      text-align: justify;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: $color-white;
      }
    }

    &__social-medias {
      display: flex;
      gap: 1rem;

      &:hover &__icon:not(:hover) {
        filter: blur(0.0675rem);
      }

      &__icon {
        border: 0.125rem solid transparent;
        border-radius: 50%;
        cursor: pointer;
        height: 2.5rem;
        padding: 0.5rem;
        transition: all 0.3s ease-in-out;
        width: 2.5rem;

        &:hover {
          border-color: $color-gray-200;
          transform: translateY(-0.75rem) scale(1.25);
        }

        &:active,
        &:focus {
          transform: translateY(-0.25rem) scale(1.25);
        }
      }
    }
  }
}
