.project {
  background-color: $color-primary;
  border: 0.125rem solid rgba($color-secondary, 0.8);
  border-radius: 0.75rem;
  box-shadow: 0 0.25rem 1rem rgba($color-secondary, 0.64);
  display: inline-block;
  padding: 2rem 1.5rem;
  transition: all 0.3s ease-in-out;

  @include respond(tab-land) {
    padding: 1.5rem 1.25rem;
  }

  @include respond(phone) {
    width: 100%;
  }

  &:hover {
    box-shadow: 0 0.25rem 2rem rgba($color-tertiary, 0.64);
    transform: scale(1.05);
  }

  &-box {
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
    @extend %section-breath;

    @include respond(tab-land) {
      gap: 4rem;
    }

    @include respond(phone) {
      gap: 3rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &__header {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      @include respond(tab-land) {
        gap: 1.5rem;
      }

      @include respond(phone) {
        gap: 1rem;
      }
    }

    &__cover {
      border-radius: 0.5rem;
      box-shadow: 0 0.25rem 1rem rgba($color-secondary, 0.24);
      object-fit: cover;
      height: 12rem;
      transition: all 0.3s ease-in-out;
      width: 20rem;

      @include respond(tab-land) {
        height: 10rem;
        width: 18rem;
      }

      @include respond(phone) {
        width: 100%;
      }

      &:hover {
        box-shadow: 0 0.25rem 1rem rgba($color-secondary, 0.48);
      }
    }

    &__title {
      margin: 0 auto;
    }

    &__link {
      display: flex;
      align-items: end;
      margin-top: 1.5rem;
    }
  }
}
