.skill {
  &-box {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    @extend %section-breath;
  }

  &__card {
    align-items: center;
    background-color: $color-primary;
    border: 0.125rem solid rgba($color-secondary, 0.8);
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 1rem rgba($color-secondary, 0.64);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 10rem;
    justify-content: center;
    padding: 2rem;
    transition: all 0.3s ease-in-out;
    width: 12rem;

    &:hover {
      box-shadow: 0 0.25rem 2rem rgba($color-tertiary, 0.8);
      transform: scale(1.05);
    }

    &__picture {
      height: 3rem;
      width: 3rem;
    }

    &__caption {
      user-select: none;
      -webkit-user-select: none;
    }
  }
}
