.section {
  padding: 0 4rem;

  &__profile {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
  }

  &__skills {
    display: flex;
    flex-direction: column;
  }
}
