@keyframes toggle-theme {
  0% {
    background-image: linear-gradient(
      to right,
      $color-theme-first-primary,
      $color-theme-first-secondary
    );
  }
  25% {
    background-image: linear-gradient(
      to right,
      $color-theme-second-primary,
      $color-theme-second-secondary
    );
  }
  50% {
    background-image: linear-gradient(
      to right,
      $color-theme-third-primary,
      $color-theme-third-secondary
    );
  }
  75% {
    background-image: linear-gradient(
      to right,
      $color-theme-fourth-primary,
      $color-theme-fourth-secondary
    );
  }
  100% {
    background-image: linear-gradient(
      to right,
      $color-theme-fifth-primary,
      $color-theme-fifth-secondary
    );
  }
}
