* {
  box-sizing: border-box;
  font-family: $font-primary;
  margin: 0;
  padding: 0;
}

html ::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}

html ::-webkit-scrollbar-thumb {
  background-color: $color-gray-300;
  border-radius: 3.5rem;
}

html ::-webkit-scrollbar-track {
  background: $color-gray-900;
}

::selection {
  background-color: $color-gray-200;
  color: $color-black;
  font-weight: 700;
}

:root {
  background-image: linear-gradient(
    to right,
    $color-theme-first-primary,
    $color-theme-first-secondary
  );
  animation: toggle-theme 60s infinite;
  color: $color-white;
  font-size: 100%;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
