.heading {
  color: $color-white;

  &--primary {
    font-size: 2rem;
    font-weight: 700;
    padding: 0 0;
    position: relative;
    transition: all 0.3s ease-in-out;
    width: fit-content;

    &--double-bars {
      &:hover {
        background-color: rgba($color-secondary, 0.12);
        padding: 0 1.5rem;
        transition: all 0.3s ease-in-out;

        &::before {
          background-color: $color-secondary;
          border-radius: 0.25rem;
          bottom: 0;
          content: "";
          left: 0;
          opacity: 1;
          position: absolute;
          transition: all 0.3s ease-in-out;
          top: 0;
          width: 0.25rem;
        }

        &::after {
          background-color: $color-secondary;
          border-radius: 0.25rem;
          bottom: 0;
          content: "";
          right: 0;
          opacity: 1;
          position: absolute;
          transition: all 0.3s ease-in-out;
          top: 0;
          width: 0.25rem;
        }
      }

      &::before {
        background-color: $color-secondary;
        border-radius: 0.25rem;
        bottom: 0;
        content: "";
        left: 0;
        opacity: 0;
        position: absolute;
        transition: all 0.3s ease-in-out;
        top: 0;
        width: 0.25rem;
      }

      &::after {
        background-color: $color-secondary;
        border-radius: 0.25rem;
        bottom: 0;
        content: "";
        right: 0;
        opacity: 0;
        position: absolute;
        transition: all 0.3s ease-in-out;
        top: 0;
        width: 0.25rem;
      }
    }

    &--simple-bar {
      &:hover {
        background-color: rgba($color-secondary, 0.12);
        border-radius: 0.25rem;
        padding: 0 1.5rem;
        transition: all 0.3s ease-in-out;

        &::before {
          background-color: $color-secondary;
          border-radius: 0.25rem;
          bottom: 0;
          content: "";
          left: 0;
          opacity: 1;
          position: absolute;
          transition: all 0.3s ease-in-out;
          top: 0;
          width: 0.25rem;
        }
      }
    }

    &::before {
      background-color: $color-secondary;
      border-radius: 0.25rem;
      bottom: 0;
      content: "";
      left: 0;
      opacity: 0;
      position: absolute;
      transition: all 0.3s ease-in-out;
      top: 0;
      width: 0.25rem;
    }
  }

  &--secondary {
    font-size: 1.25rem;
    font-weight: 500;
    position: relative;
    width: fit-content;
    transition: all 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 0.5rem 1rem rgba($color-secondary, 0.32);
    }

    &::after {
      background-color: $color-secondary;
      bottom: 0;
      content: "";
      height: 0.125rem;
      left: 50%;
      position: absolute;
      right: 50%;
      top: 1.5rem;
      transition: all 0.5s ease-in-out;
    }

    &:hover::after {
      left: 0;
      right: 0;
    }
  }
}

.link {
  &--url {
    color: $color-gray-400;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $color-secondary;
    }
  }

  &--button {
    border-radius: 0.25rem;
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 0.25rem;
    transition: all 0.3s ease-in-out;
    width: fit-content;

    &:hover {
      background-color: $color-secondary;
      box-shadow: 0 0.25rem 1rem rgba($color-secondary, 0.32);
      color: $color-gray-200;
      cursor: pointer;
      text-decoration: none;
      padding: 0.25rem 0.5rem;
    }
  }
}

.text {
  color: $color-gray-400;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: rgba($color-gray-900, 0.16);
    color: $color-gray-200;
  }
}
